* {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  width: 10%;
  height: 10%;
  border: 1px solid black;
}

.carrier {
  background: blue;
}
.battleShip {
  background: orange;
}
.cruiser {
  background: green;
}
.submarine {
  background: yellow;
}
.destroyer {
  background: purple;
}
.occupied {
}
